*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --darkbg: rgb(23, 30, 33);
    --lightbg: #fff;
    --lightbgtext: #000;
    --lightbgmenu: #f7f4e4;
    --darkbgmenu: #000;
    --orangetextcolor: #ff8424;
    --redtextcolor: tomato;
    --whitetextcolor: #fff;
    --bluetextcolor: #9bcdfd;

}

p{
    text-align: left;
    top: 100px;
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 1.7em;
}

.hamburgermenu{
    background-color: transparent;
    flex-grow: 0;
    width: 60px;
    display: flex;
    cursor: pointer;
    align-self: flex-start;
    box-sizing: inherit;
    
}

#burgerbars{
    z-index: 99;
    padding: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#logo img{
    height: 60px;
    width: auto;
}

body{
font-family: "Arial";
min-height: 100vh;
font-size: 14px;
font-weight: 400;
margin: 0;
}

.theme{
    background-color: var(--darkbg);
    color: var(--orangetextcolor);
    display: block;
    min-height: 100vh;
    z-index: 0;
}

.darktheme{
background-color: var(--darkbg);
}

.lighttheme{
    background-color: var(--lightbg);
    color: var(--lightbgtext);
}

.topmenu{
    position: fixed;
    display: flex;
    width: 100%;
    height: 60px;
    box-sizing: inherit;
    justify-content: space-between;
    background-color: var(--darkbg);
}

.darktheme.topmenu{
    background-color: var(--darkbg);
}

.lighttheme.topmenu{
    background-color: var(--lightbg); 
}

.searchbox{
    height: 60px;
    text-align: center;
    padding-top: 15px;
    padding-right: 10px;
    align-items: center;
}

button{
    position: absolute;
    top:0;
    left: 0;
    width: 30px;
    height: 100%;
    border: none;
    cursor: pointer;
    background: none;
    border-radius: 50%;
    padding-left: 5px;
}

button i{
    color: rgb(93, 94, 95);
}

input{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 25px;
    padding: 7px 20px 7px 10px;
    padding-left: 35px;
    border: solid 3px gray;
    outline: none;
}

input:focus::placeholder {
    color: transparent;
  }

form{
    background: grey;
    border-radius: 25px;
    position: relative;
}


.leftmenu{
    display: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
    position: absolute;
    width: 200px;
    height: 100vh;
    overflow: auto;
}

.leftmenu.active.darktheme{
    background-color: #000 !important;
}

.leftmenu.active.lighttheme{
    background-color: #f7f4e4 !important;
}

select{
    text-align: center;
    border-radius: 0;
    cursor: pointer;
    width: 100%;
    font-size: 1.4em;
    color: white;
    margin-bottom: 80px;
    background-color: #000;
    border: white solid 1.3px;
    padding: 5px;
}

select option{
    border-radius: 0;
}



h2, h3, h4{
    text-align: center;
    font-size: 1.3em;
}


.leftmenu.active{
    display: block;
    z-index: 98;
}

#orange{
    color: #ff8424;
}

#orange:hover{
    color: #ff8424;
}

#red{
color: tomato;
}

#red:hover{
    color: tomato;
}

#blue{
color: #9bcdfd;
}

#blue:hover{
    color: #9bcdfd;
}

#white{
    color: #fff;
}

#white:hover{
    color: #fff;
}

.lighttheme #togglecolor{
    display: none; /* Initially hide the element */
  }

.lighttheme h4{
    display: none;
}

.darktheme.orange{
    color: var(--orangetextcolor);
}

.darktheme.white{
    color: var(--whitetextcolor);
}

.darktheme.red{
    color: var(--redtextcolor);
}

.darktheme.blue{
    color: var(--bluetextcolor);
}


#togglecolor{
    margin-bottom: 150px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

