*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --darkbg: rgb(23, 30, 33);
    --lightbg: #fff;
    --lightbgtext: #000;
    --lightbgmenu: #f7f4e4;
    --darkbgmenu: #000;
    --orangetextcolor: #ff8424;
    --redtextcolor: tomato;
    --whitetextcolor: #fff;
    --bluetextcolor: #9bcdfd;
    --darklinkcolor: #5ff5ff;
    --lightlinkcolor: #e90606;
}

a{
    text-decoration: none;
}

.footer{
    z-index: 98;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: sticky;
    left: 0;
    bottom: 0;
    min-width: 100vw;
    color: white;
    text-align: center;
    background-color: #000 !important;
    justify-content: center;
    font-size: 18px;
    line-height: 1.8;
}

#businessname{
    display:block;
    position:relative;
    color:white;
}

#businessname a{
    color:white;
}

#businessname a:hover{
    cursor: pointer;
    transition:ease-in-out 300ms;
    color:#b2b2be
}

#links{
    display:block;
    position:relative;
    color:white;
}

.hamburgermenu{
    background-color: transparent;
    flex-grow: 0;
    width: 60px;
    display: flex;
    cursor: pointer;
    align-self: flex-start;
    box-sizing: inherit;
    
}

#burgerbars{
    z-index: 101;
    padding: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#logo{
    position:relative;
    height: 60px;
    width: 200px;
}

#logo img{
    height: 60px;
    width: 200px;
}

body{
display: block;
font-family: "Arial";
min-height: 100vh;
font-size: 14px;
font-weight: 400;
margin: 0;
}

.theme{
    background-color: var(--darkbg);
    color: var(--orangetextcolor);
    min-height: 100vh;
    z-index: -100;
    overflow-y: hidden;
    overflow-x: hidden;
}

.darktheme{
background-color: var(--darkbg);
}

.darktheme a{
    color: var(--darklinkcolor);
}

.darktheme a:hover{
    cursor:pointer;
    transition: ease-in-out 0.3s;
    color: #11dfff;
}

.lighttheme{
    background-color: var(--lightbg);
    color: var(--lightbgtext);
}

.lighttheme a{
    color:var(--lightlinkcolor);
}

.topmenu{
    position: fixed;
    display: flex;
    width: 100%;
    height: 60px;
    box-sizing: inherit;
    justify-content: space-between;
    background-color: var(--darkbg);
    box-shadow: 0 0 10px -1px var(--darkbgmenu);
    z-index: 99;
}

.darktheme.topmenu{
    background-color: var(--darkbg);
}

.lighttheme.topmenu{
    background-color: var(--lightbg); 
}

.searchbox{
    height: 60px;
    text-align: center;
    padding-top: 10px;
    padding-right: 10px !important;
    align-items: center;
}

#submit{
    position: absolute;
    top:0;
    left: 0;
    width: 30px;
    height: 100%;
    border: none;
    cursor: pointer;
    background: none;
    padding-left: 2.8px;
    padding-bottom: 2.8px;
    padding-top: 2.8px;
    background-clip: content-box;
    background-color: tomato;
    display: inline-block;
}

.disclaimer{
    color:white;
    z-index: 5;
    justify-content: center;
    background-color: color-mix(in srgb, var(--darklinkcolor) 55%, var(--darkbgmenu) 45%);
    align-items: center;
    width: 100%;
    min-height: 50px;
    padding: 5px;
    top: 60px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    line-height: 1.5;
}



.disclaimer span{
    font-size: 20px;
}

.ok{
    outline: none;
    margin-left: 25px;
    margin-right: 2px;
    vertical-align: middle;
    user-select: none;
    font-weight: 500;
    background-clip: content-box;
    background-color: tomato;
    border: none;
}

.ok:hover{
    cursor: pointer;
    background-color: red;
    transition: ease-in-out 300ms;
}

button span{
    margin-left:2px
}

.ok i{
    font-size: 20px;
    height:auto;
    width: auto;
    color: white;
}

.ok span{
    color: white;
    margin-left: 10px;
}

#ok{
    display:flex;
    text-align: center;
    line-height: 1;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 10px;
    padding-top: 10px;
}

button i{
    color: white;
}

#submit:hover{
    background-color: red;
    transition: ease-in-out 300ms;
}

input{
    width: 200px;
    display: block;
    height: 100%;
    padding-left: 35px;
    outline: none;
}

input:focus::placeholder {
    color: transparent;
  }

form{
    height: 35.5px;
    background: grey;
    position: relative;
}



.leftmenu{
    z-index: 100;
    display: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    position: absolute;
    width: 175px;
    height: 100vh;
    overflow: auto;
}

.leftmenu.active.darktheme{
    background-color: #000 !important;
}


.leftmenu.active.lighttheme{
    background-color: #f7f4e4 !important;
}

select{
    text-align: center;
    border-radius: 0;
    cursor: pointer;
    width: 100%;
    font-size: 1.4em;
    color: white;
    margin-bottom: 53px;
    background-color: #000;
    border: white solid 1.3px;
    padding: 5px;
}

select option{
    border-radius: 0;
    height: 25px;
}



h2, h3, h4{
    text-align: center;
    font-size: 1.3em;
}


.leftmenu.active{
display: block;
}

#orange{
    color: #ff8424;
}

#orange:hover{
    color: #ff8424;
}

#red{
color: tomato;
}

#red:hover{
    color: tomato;
}

#blue{
color: #9bcdfd;
}

#blue:hover{
    color: #9bcdfd;
}

#white{
    color: #fff;
}

#white:hover{
    color: #fff;
}

.lighttheme #togglecolor{
    display: none; /* Initially hide the element */
  }

.lighttheme h4{
    display: none;
}

.darktheme.orange{
    color: var(--orangetextcolor);
}

.darktheme.white{
    color: var(--whitetextcolor);
}

.darktheme.red{
    color: var(--redtextcolor);
}

.darktheme.blue{
    color: var(--bluetextcolor);
}


#togglecolor{
    margin-bottom: 106px;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
.vertical-scrollbar {
  outline: none !important;
}

ul {
    list-style-type: none;
  }

.vertical-scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px; /* Adjust the width as needed */
    min-height: 100vh;
    overflow-y: auto;
    z-index: 9999; /* Ensure it's above other elements */
}

.pagetext{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 28px;
    position: relative;
    display: inline-flex;
    text-align: left;
    align-self: flex-start;
    font-size: 22px;
    font-weight: 520;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: space-evenly;
    padding-bottom: 150px;
    text-align: left;
}

.content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.content ul li {
    width: 125px;
    height: 125px;
    margin: 0 10px 10px 0; /* Equal left and right margin, and bottom margin */
    display: inline-block;
    position: relative;
    font-size: 1.5em;
}

.content ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.content ul li img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border: 2px solid gray;
}

.content ul li span {
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: var(--lightbgmenu);
    background-color: rgba(63, 81, 181, 0.6); 
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 550;
    font-size: 25.75px;
    line-height: 1;
    display: grid;
    place-items: center;
    letter-spacing: -1px;
}

.maintext{
    display: block;
    padding-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    font-size: 1.5em;
    text-align: center;
    font-size: 40px;
    line-height: 1;
}

.bottomtext{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 50px;
    position: relative;
    display: inline-flex;
    text-align: center;
    font-size: 22px;
    font-weight: 520;
    width: calc();
    
}

@media all and (max-width: 420px) {
    .content ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }

@media all and (min-width: 540px){
#logo{
    left:calc(50% - 50px);
}
}

hr{
    height:1px;
    border: 0.5px solid #ccc;
    min-width: 100vw;
}

.footerdisclaimer{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    line-height: 1.1;
    background-color:var(--darkbgmenu);
    color:white;
    font-size: 14px;
    text-align: center;
}

.footerdisclaimer a:hover{
    color:#11dfff;
    transition: ease-in-out 0.3s;
    cursor:pointer;
}
